.container-fluid
	.margin
	%b.h1 Care
	%hr
	.lead.text-center
		EVERY ONE (THING) NEEDS LOVE.
		%br
		%small
			Happy cases are built to last. Here's how to treat your Happy case with care:
	.container
		.row
			.col-md-4.col-md-offset-1.col-xs-10.col-xs-offset-1
				= image_tag 'care2.png'
			.col-md-5.col-md-offset-0.col-xs-10.col-xs-offset-1
				.h1care
					SOFT APPLICATION AND REMOVAL.
				%p
					Slide in your iPhone at the bottom of the case. Carefully snap in the case from top edges. Removal: Carefully snap out the case from the top edge of the phone.
		.row
			.col-md-5.col-md-offset-0.col-xs-10.col-xs-offset-1
				.h1care
					AVOID USING NAILS.
				%p
					Avoid using nails to apply or remove the case. Nails might be tough on the case..
			.col-md-4.col-md-offset-1.col-xs-10.col-xs-offset-1
				= image_tag '2_large.png'
		.row
			.col-md-4.col-md-offset-1.col-xs-10.col-xs-offset-1
				= image_tag '3_large.png'
			.col-md-5.col-md-offset-0.col-xs-10.col-xs-offset-1
				.h1care
					DO NOT PUT PRESSURE ON THE CUTOUTS.
				%p
					Avoid putting pressure on volume button cut out, lock button cut out or any other opening/cut out. To remove the case, simply snap out the case from the top right edge of the phone, simplest, easiest and safest way to remove the case.

		.row
			.col-md-5.col-md-offset-0.col-xs-10.col-xs-offset-1
				.h1care
					WASH AND LET IT DRY.
				%p
					If your case gets dirty, you can simply wash it under the tap and let your case dry. Avoid swiping the case dry by a cloth since rough fibers of the cloth can scratch the case. It also goes to the iPhone if you're using the latest 7 series, which is water resistant. Wash the case and let it dry for 1-2 minutes, and you're good to go.
			.col-md-4.col-md-offset-1.col-xs-10.col-xs-offset-1
				= image_tag '4'

	.text-center
		.h2 This is how you can keep your Happy case as good as new for a loooooong time.
		We would love to hear from you.
	.margin
	= render 'footer'
					